<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Clear all Tag Set Nominations?") %></h2>

<!--main content-->
<%= form_for(@tag_set, :url => destroy_multiple_tag_set_nominations_path(@tag_set), :html => {:class => "simple destroy"}, method: :delete) do |f| %>
  <p><%= ts("Are you certain you want to clear all Tag Set Nominations?") %></p>
  <p>
    <%= f.submit ts("Yes, Clear Tag Set Nominations") %>
    <%= link_to ts("Back to the Tag Set Nominations"), tag_set_path(@tag_set) %>
  </p>
<% end %>
<!--/content-->
