<% # expects collection_item, form %>
<ul class="actions" role="menu">
  <% if collection_item.item %>
    <li>
      <% id = "blurb_#{collection_item.item_type}_#{collection_item.item_id}_#{collection_item.collection.name}" %>
      <%= link_to h(ts("Details")) + ' &#8595;'.html_safe, "#", :class => "#{id}_open" %>
      <%= link_to h(ts("Close Details")) + ' &#8593;'.html_safe, "#", :class => "#{id}_close" %>
    </li>
  <% end %>
  <li class="status action">
    <% if @user %>
      <%= form.select(:user_approval_status, CollectionItem::APPROVAL_OPTIONS) %>
    <% else %>
      <%= form.select(:collection_approval_status, CollectionItem::APPROVAL_OPTIONS) %>
    <% end %>
  </li>

  <% id = "collection_items_" %>
  <% if collection_item.collection.unrevealed? %>
    <li>
      <label for="collection_items_<%= collection_item.id %>_unrevealed" <% if @user %>class="disabled"<% end %>>
        <%= ts("Unrevealed") %>
        <% if @user %>
          <%= form.check_box :unrevealed, :disabled => true %>
        <% else %>
          <%= form.check_box :unrevealed %>
        <% end %>
      </label>
    </li>
  <% end %>
  <% if collection_item.collection.anonymous? %>
    <li>
      <label for="collection_items_<%= collection_item.id %>_anonymous" <% if @user %>class="disabled"<% end %>>
        <%= ts("Anonymous") %>
        <% if @user %>
          <%= form.check_box :anonymous, :disabled => true %>
        <% else %>
          <%= form.check_box :anonymous %>
        <% end %>
      </label>
    </li>
  <% end %>        
  <li>
    <label for="collection_items_<%= collection_item.id %>_remove">
      <%= ts("Remove") %>
      <%= form.check_box :remove %>
    </label>
  </li>
</ul>
