<% content_for :message do %>
  <p><%= t("mailer.general.greeting.formal", name: style_bold(@user.login)).html_safe %></p>

  <p><%= t('.html.part1', title: style_creation_title(@work.title)).html_safe %></p>

  <p><%= t('.html.part2', opendoors_link: opendoors_link(t '.opendoors')).html_safe %></p>

  <p><%= t(".html.tos_violation", contact_abuse_link: abuse_link(t(".contact_abuse"))).html_safe %></p>

  <p><%= t '.bye' %></p>
<% end %>
