<% content_for :message do %>
  <p><%= t("mailer.general.greeting.formal", name: style_bold(@user.login)).html_safe %></p>

  <p><%= t(".changed_status.#{@status}.html",
           collection_link: style_link(@collection.title, collection_url(@collection)),
           work_link: style_creation_link(@work.title, work_url(@work))).html_safe %></p>

  <% if @becoming_anonymous && @becoming_unrevealed %>
    <p><%= t(".unrevealed_info") %></p>

    <p><%= t(".anonymous_unrevealed_info") %></p>
  <% elsif @becoming_anonymous %>
    <p><%= t(".anonymous_info") %></p>
  <% else %>
    <p><%= t(".unrevealed_info") %></p>
  <% end %>

  <p><%= t(".do_not_want.#{@status}.html",
           collection_items_link: style_link(t(".collection_items_link_text"),
                                             user_collection_items_url(@user, approved: true))) %></p>

  <p><%= t(".more_info.html",
           faq_link: style_link(t(".faq_link_text"),
                                archive_faq_url("collections",
                                                anchor: :collectionoptions))) %></p>
<% end %>
