<!--Descriptive page name, messages and instructions-->
<h2><%= ts("New Prompt") %></h2>
<!--/descriptions-->

<!--subnav-->
<% if @prompt.challenge_signup %>
  <%= render "prompt_navigation" %>
<% end %>
<!--/subnav-->

<!--main content-->
<%= form_for @prompt, :as => :prompt, :url => collection_prompts_path(@collection), :html => {:method => :post} do |form| %>
  <%= render "prompt_form", :form => form, :required => true, :index => @index %>
  <%= submit_fieldset form %>
<% end %>
<!--/content-->
