<ul class="menu" role="menu">
  <li><%= link_to ts('About Us', key: 'header.about'), about_path %></li>
  <li><%= link_to ts('News', key: 'header.about'), admin_posts_path %></li>
  <li><%= link_to ts('FAQ', key: 'header.about'), archive_faqs_path %></li>
  <li><%= link_to ts('Wrangling Guidelines', key: 'header.about'), wrangling_guidelines_path %></li>
  <li><%= link_to ts('Donate or Volunteer', key: 'header.about'), donate_path %></li>
</ul>
