<% # We need to override the ids to avoid accessibility issues on the new user
   # session page, which has a second user session form %>
<%= form_for(User.new, url: user_session_path, html: { id: "new_user_session_small" }) do |f| %>
	<dl>
    <dt>
      <%= f.label :login, ts("User name or email:"),
              for: "user_session_login_small" %></dt>
    <dd><%= f.text_field :login,
              id: "user_session_login_small" %></dd>
    <dt><%= f.label :password, ts("Password:"),
              for: "user_session_password_small" %></dt>
    <dd><%= f.password_field :password,
              id: "user_session_password_small" %></dd>
  </dl>
  <p class="submit actions">
    <label for="user_remember_me_small" class="action"><%= check_box_tag "user[remember_me]", 1, false, id: "user_remember_me_small" %><%= ts("Remember Me") %></label>
    <%= f.submit ts("Log In") %>
  </p>
<% end %>

<ul class="footnote actions">
  <li><%= link_to ts("Forgot password?"), new_user_password_path %></li>
  <% if @admin_settings.account_creation_enabled? && !@admin_settings.creation_requires_invite? %>
    <li>
      <%= link_to ts("Create an Account"), signup_path %>
    </li>
  <% elsif @admin_settings.invite_from_queue_enabled? %>
    <li>
      <%= link_to ts("Get an Invitation"), invite_requests_path %>
    </li>
  <% end %>
</ul>
