<ul class="navigation actions" role="navigation">
  <% if @user %>
    <li><%= span_if_current ts("External Authors"), user_external_authors_path(@user) %></li>
    <li><%= span_if_current ts("Profile"), user_profile_path(@user) %>
  <% elsif permit?("opendoors") %>
    <li><%= span_if_current ts("External Authors"), opendoors_external_authors_path %></li>
    <li class="search" role="search">
      <%= form_tag opendoors_external_authors_path, :class => "simple search", :method => :get do |form| %>
        <fieldset>
  	      <%= text_field_tag "query", @query, :title => "search" %>
          <%= submit_tag "Search" %>
        </fieldset>
      <% end %>
    </li>    
  <% end %>
</ul>
