<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Known Issues") %></h2>
<% if @known_issues.empty? %>
<p>There are no known issues posted, but you can <%= link_to 'make a new known issues post', new_known_issue_path %></p>
<% end %>
<!--/descriptions-->

<!--subnav-->
<%= render :partial => 'admin/admin_nav' %>
<!--/subnav-->

<!--main content-->
<ul class="index group">
<% @known_issues.each do |known_issue| %>
  <li class="issue group">
    <ul class="actions" role="menu">
      <li><%= link_to ts("Show"), known_issue %></li>
      <li><%= link_to ts("Edit"), edit_known_issue_path(known_issue) %></li>
      <li role="button"><%= link_to ts("Delete"), known_issue, data: {confirm: 'Are you sure?'}, :method => :delete %></li>
    </ul>
    <div class="admin userstuff" role="article">
      <h3 class="heading"><%=raw sanitize_field(known_issue, :title) %></h3>
      <h6 class="heading"><%= ts("Updated at:") %> <%= known_issue.updated_at %></h6>
      <%=raw sanitize_field(known_issue, :content) %>
    </div>
  </li>
<% end %>
</ul>
<!--/content-->

<!--subnav-->
<!--/subnav-->
