<div id="known-issues" class="post create issue">
  <%= form_for(@known_issue) do |f| %>
    <%= error_messages_for @known_issue %>
    <dl class="text">
      <dt class="required"><%= f.label :title, ts("Beta Revision") + "*" %></dt>
      <dd class="required"><%= f.text_field :title %></dd>
      <dt><%= f.label :content, ts("Recent Known Issues") %></dt>
      <dd>
        <ul class="hidden rtf-html-switch actions" role="menu">
          <li><a class="rtf-link" href="#"><%= ts('Rich Text') %></a></li>
          <li><a class="html-link" href="#"><%= ts('HTML') %></a></li>
        </ul>
        <p class="rtf-html-instructions note">
          <span class="html-notes"><%= allowed_html_instructions %></span>
          <span class="hidden rtf-notes"><%= ts("Type or paste formatted text.") %><%= link_to_help "rte-help" %></span>
        </p>
        <% use_tinymce %>

        <div class="rtf-html-field">
          <%= f.text_area :content, :class => "mce-editor observe_textlength", :id => "content" %>
          <%= live_validation_for_field('content', 
            :maximum_length => ArchiveConfig.CONTENT_MAX, :minimum_length => ArchiveConfig.CONTENT_MIN, 
            :tooLongMessage => ts("We salute your ambition! But sadly the content must be less than %{max} letters long.", :max => ArchiveConfig.CONTENT_MAX.to_s),
            :tooShortMessage => ts("Brevity is the soul of wit, but your content does have to be at least %{min} letters long.", :min => ArchiveConfig.CONTENT_MIN.to_s),
            :failureMessage => ts("You need to post some content here."))
          %>
          <%= generate_countdown_html("content", ArchiveConfig.CONTENT_MAX) %>
        </div>
      </dd>
    
      <dt class="landmark"><%= ts("Post") %></dt>
      <dd class="submit actions">
        <%= submit_tag ts("Post"), :name => 'post_button' %>
      </dd>
    </dl>
  <% end %>
</div>
