<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Known Issues") %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<div class="admin userstuff" role="article">
  <h3 class="heading">
    <%= @known_issue.title %>
  </h3>
  <h4 class="heading"><%= ts("Updated:") %> <%= @known_issue.updated_at %>
    <% if logged_in_as_admin? %>
      <span class="actions" role="navigation"><%= link_to ts("Edit"), edit_known_issue_path(@known_issue) %></span>
    <% end %>
  </h4>
  <%=raw sanitize_field(@known_issue, :content) %>
</div>
<!--/content-->

<!--subnav-->
<!--/subnav-->