<% if logged_in? %>
  <ul class="navigation actions" role="navigation">
    <% if @tag_set_nomination = TagSetNomination.for_tag_set(@tag_set).owned_by(current_user).first %>
      <li><%= span_if_current ts("My Nominations"), tag_set_nomination_path(@tag_set, @tag_set_nomination) %></li>
    <% elsif @tag_set.nominated %>
      <li><%= span_if_current ts("Nominate"), new_tag_set_nomination_path(@tag_set) %></li>
    <% end %>
    <% if @tag_set.user_is_moderator?(current_user) %>
      <% if @tag_set.tag_set_nominations.count > 0 %>
        <li><%= span_if_current ts("Review Nominations"), tag_set_nominations_path(@tag_set) %></li>
        <li><%= span_if_current ts("Review Associations"), tag_set_associations_path(@tag_set) %></li>
      <% end %>
    <% end %>
    <% if @tag_set.user_is_owner?(current_user) %>
      <li><%= link_to ts("Clear Nominations"), confirm_destroy_multiple_tag_set_nominations_path(@tag_set) %></li>
      <li><%= span_if_current ts("Batch Load"), batch_load_tag_set_path(@tag_set) %></li>
      <li><%= span_if_current ts("Edit"), edit_tag_set_path(@tag_set) %></li>
      <li role="button"><%= link_to ts("Delete"), confirm_delete_tag_set_path(@tag_set),
        data: {confirm: ts('Are you certain you want to delete this Tag Set? This will delete all nominations and tag set associations as well!')} %></li>
    <% end %>
    <% unless current_page?(tag_set_path(@tag_set)) %>
      <li><%= link_to ts("Back To %{title}", :title => @tag_set.title), tag_set_path(@tag_set) %></li>
    <% end %>
    <li><%= link_to ts("All Tag Sets"), tag_sets_path %></li>
  </ul>
<% end %>
