<% if !@collection.challenge.signup_open %>
  <div class="actions module">
    <ul class="actions" role="menu">
      <% if @collection.potential_matches.empty? %>
        <li>
          <% if !@settings || @settings.no_match_required? %>
            <%= link_to ts("Generate Potential Matches"), generate_collection_potential_matches_path(@collection),
                        data: {confirm: ts("Your challenge settings don't require any matching. Assignments will be completely random. Is this what you want?")} %>
          <% else %>
            <%= link_to ts("Generate Potential Matches"), generate_collection_potential_matches_path(@collection) %>
          <% end %>
        </li>
      <% else %>
        <li><%= submit_tag ts("Save Assignment Changes") %></li>
        <li><%= link_to ts("Regenerate Assignments"), generate_collection_assignments_path(@collection),
                data: {confirm: ts("Are you sure? This will delete all current assignments.")} %></li>
        <li><%= link_to ts("Regenerate All Potential Matches"), generate_collection_potential_matches_path(@collection),
                 data: {confirm: ts("Are you sure? This will delete all current assignments and potential matches.")} %></li>
        <li>
          <%= link_to ts("Send Assignments"), send_out_collection_assignments_path(@collection),
                 data: {confirm: ts("Are you sure? This will send out the currently saved assignments to all participants!")} %></li>
      <% end %>
    </ul>
  </div>
<% end %>
