<p class="notice">
  <%= ts("This work is part of an ongoing challenge and will be revealed soon!") %>
  <% if @work.user_is_owner_or_invited?(current_user) %>
    <%= ts("You can find details here: ") %>
    <%= show_collections_data(@work.collections.unrevealed) %>
  <% else %>
    <% if @work.approved_collections.unrevealed.present? %>
      <%= ts("You can find details here: ") %>
      <%= show_collections_data(@work.approved_collections.unrevealed) %>
    <% end %>
  <% end %>
</p>
