<% # expects local variables kudos, guest_kudos_count, commentable %>
<h3 class="landmark heading"><%= ts("Kudos") %></h3>
<div id="kudos">
  <% has_user_kudos = kudos.exists? %>
  <% if has_user_kudos || guest_kudos_count > 0 %>
    <% cache "#{commentable.cache_key}/kudos-v3", skip_digest: true do %>
      <p class="kudos">
        <% if has_user_kudos %>
          <%= kudos_user_links(commentable, kudos, showing_more: false) %>
        <% end %>
        <% if guest_kudos_count > 0 %>
          <% if has_user_kudos %>
            <%= ts(" as well as ") %>
          <% end %>
          <%= ts(pluralize(guest_kudos_count, "guest")) %>
        <% end %>
        <%= ts(" left kudos on this work!") %>
      </p>
    <% end %>
  <% end %>
</div>
