<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Change My User Name") %></h2>
<%= error_messages_for :user %>
<div class="caution">
  <p>
    <strong><%= t(".caution") %></strong>
    <%= t(".change_window", count: ArchiveConfig.USER_RENAME_LIMIT_DAYS) %>
    <% if @user.renamed_at %>
      <%= t(".last_renamed", renamed_at: l(@user.renamed_at, format: :long)) %>
    <% end %>
  </p>
  <p>
    <%= t(".more_info",
          account_faq_link: (link_to t(".account_faq"), archive_faq_path("your-account", anchor: "namechange")),
          contact_support_link: (link_to t(".contact_support"), new_feedback_report_path)
        ).html_safe %>
  </p>
</div>
<p class="note">
  <%= ts("If that is not what you want, you can <a href=\"#{new_user_pseud_path(@user)}\">create a new Pseud</a> instead.").html_safe %>
</p>
<!--/descriptions-->

<!--subnav-->
<%= render "edit_header_navigation" %>
<!--/subnav-->

<!--main content-->

<%= form_tag changed_username_user_path(@user) do %>
  <dl>
    <dt><%= ts("Current user name") %></dt>
    <dd><p class="important informational"><%= @user.login %></p></dd>
    <dt><%= label_tag :new_login, ts("New user name") %></dt>
    <dd>
      <%= text_field_tag :new_login, @new_login, autocomplete: "off", "aria-describedby" => "new-login-field-description" %>
      <p class="footnote" id="new-login-field-description">
        <%= ts("%{minimum} to %{maximum} characters (A-Z, a-z, _, 0-9 only), no spaces, cannot begin or end with underscore (_)",
               minimum: ArchiveConfig.LOGIN_LENGTH_MIN,
               maximum: ArchiveConfig.LOGIN_LENGTH_MAX) %>
      </p>
    </dd>
    <dt><%= label_tag :password, ts("Password") %></dt>
    <dd><%= password_field_tag :password %></dd>
    <dt class="landmark"><%= ts("Submit") %></dt>
    <dd class="submit actions">
      <%= submit_tag ts("Change User Name"), data: { confirm: ts("Are you sure you want to change your user name?") } %>
    </dd>
  </dl>
<% end %>
