<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts("Change My Password") %></h2>
<%= error_messages_for :user %>
<!--/descriptions-->

<!--subnav-->
<%= render 'edit_header_navigation' %>
<!--/subnav-->

<!--main content-->
<%= form_tag changed_password_user_path(@user) do %>
  <dl>
    <dt><%= label_tag :password, ts("New password") %></dt>
    <dd>
      <%= password_field_tag :password, nil, "aria-describedby" => "password-field-description" %>
      <p class="footnote" id="password-field-description">
        <%= ts("%{minimum} to %{maximum} characters",
                                 minimum: ArchiveConfig.PASSWORD_LENGTH_MIN,
                                 maximum: ArchiveConfig.PASSWORD_LENGTH_MAX) %>
      </p>
    </dd>
    <dt><%= label_tag :password_confirmation, ts("Confirm new password") %></dt>
    <dd><%= password_field_tag :password_confirmation %></dd>
    <dt><%= label_tag :password_check, ts("Old password") %></dt>
    <dd><%= password_field_tag :password_check%></dd>
    <dt class="landmark"><%= label_tag :submit, ts("Submit") %></dt>
    <dd class="submit actions">
      <%= submit_tag ts("Change Password") %>
    </dd>
  </dl>
<% end %>

<!--/content-->
