<h2 class="heading"><%= ts("You are welcome at the Archive of Our Own.") %></h2>

<div class="userstuff">
  <p><%= ts("No matter your appearance, circumstances, configuration or take on the world: if you enjoy consuming, creating or commenting on fanworks, the Archive is for you.") %></p>

  <p><%= ts("This archive is a permanent, panfandom place for fanworks, built by fans for fans. Whichever way you use the Archive, you're part of this, powering it, shaping it through your use and") %> <%= link_to ts("your feedback"), new_feedback_report_path %>.</p>

  <p><%= ts("We,") %> <%= link_to ts("the Archive team"), admin_posts_path %><%= ts(", know that we won't get everything right on the first try, and we won't be able to make everyone equally happy. But we strive to find a good balance, and we promise to respectfully consider your feedback and to take it seriously.") %></p>

  <p><%= ts("You are free to express your creativity within the") %> <%= link_to ts("few restrictions"), tos_path %> <%= ts("needed to keep the service viable for other users. The Archive strives to protect your rights to free expression and privacy; you can read about the details in our") %> <%= link_to ts("Terms of Service"), tos_path %>.</p>

  <p><%= ts("We know that there are") %> <%= link_to ts("some essential parts"), "/admin_posts/295" %> <%= ts("that are still missing to make the Archive truly panfandom: the ability to host fanworks other than text, an interface in languages other than English, and more ways for you to connect with each other, to name just a few. But with your support, we'll get there.") %></p>

  <p><%= ts("We are building this archive because we believe it's possible for people of all opinions and persuasions to come together and share with each other.") %></p>

  <p><%= ts("We are building this archive for you. Come be a part of it.") %></p>

  <br />
  <p><%= ts("This is a remix of") %> <%= link_to ts("Dreamwidth's"), "http://www.dreamwidth.org" %> <%= link_to ts("Diversity Statement"), "http://www.dreamwidth.org/legal/diversity" %>.</p>

  <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>.</p>
</div>
