<h2 class="heading"><%= ts('Donations') %></h2>
<h3 class="heading"><%= ts('There are two main ways to support the AO3 - donating your time or money.') %></h3>

<div class="userstuff">
  <h3><%= ts('Donating Your Time') %></h3>
  <p><%= ts("The <a href=\"http://www.transformativeworks.org\">Organization for Transformative Works</a> is the parent organization of the Archive of Our Own. We are often looking for volunteers to contribute to <a href=\"http://www.transformativeworks.org/our-projects\">our projects</a>. If you're interested in volunteering specifically to help the Archive of Our Own, the roles to look out for include tag wranglers, testers, coders, Support staff and Abuse staff. We encourage you to browse through the <a href=\"http://www.transformativeworks.org/volunteer\">available listings</a> and apply for any roles which match your qualifications and interests.").html_safe %></p>

  <h3><%= ts('Donating Financially') %></h3>
  <p><%= ts("The AO3 has ongoing running costs - electricity for the servers and bandwidth so you can reach them - 
and one-off costs such as buying new servers as the number of users and works increases. 
Any <a href=\"https://otw.cividesk.com/civicrm/index.php?q=civicrm/contribute/transact&reset=1&id=17\">donation to the OTW</a> is a big help. (Don't worry, we'll never connect your AO3 username and your financial information.)").html_safe %></p>
</div>
