<h2 class="heading"><%= t('.site_map', :default => 'Site Map') %></h2>
<div class="userstuff">
  <h3 class="heading">Explore</h3>
	  <ul>
	    <li><%= link_to t('.homepage', :default => "Homepage"), root_path %></li>
	    <li><%= link_to t('.fandoms', :default => "Fandoms"), media_path %></li>
	    <li><%= link_to t('.recent_works', :default => "Recent Works"), works_path %></li>
	    <li><%= link_to t('.people', :default => "People"), search_people_path %></li>
	    <li><%= link_to t('.bookmarks', :default => "Bookmarks"), bookmarks_path %></li>
	    <li><%= link_to t('.freeform_tag_cloud', :default => "Additional Tags Cloud"), tags_path %></li>
	    <li><%= link_to t('.languages', :default => "Languages"), languages_path %></li>
	   <li><%= link_to t('.collections', :default => "Collections and Challenges"), collections_path %></li>
	  </ul>

  <h3 class="heading">About the Archive of Our Own</h3>
	  <ul>
		  <li><%= link_to t('.terms_of_service', :default => "Terms of Service"), tos_path %></li>
		<li><%= link_to t('.archive_faq', :default => "Archive FAQ"), archive_faqs_path %></li>
		  <li><%= link_to t('.ao3_news', :default => "AO3 News"), admin_posts_path %></li>
		  <li><%= link_to t('.known_issues', :default => "Known Issues"), known_issues_path %></li>
		  <li>The Archive of Our Own is a project of the <a href="http://transformativeworks.org"><acronym title="Organization for Transformative Works">OTW</acronym></a></li>
	  </ul>

  <% if logged_in? %>
    <h3 class="heading">Access your account</h3>
	    <ul>
		   <li><%= link_to t('.my_home', :default => "My Home"), user_path(current_user) %></li>
		    <li><%= link_to t('.post_new', :default => "Post New"), new_work_path %></li>
		    <li><%= link_to t('.my_works', :default => "My Works"), user_works_path(current_user) %></li>
		    <li><%= link_to t('.my_drafts', :default => "Drafts"), drafts_user_works_path(current_user) %></li>
		    <li><%= link_to t('.my_series', :default => "My Series"), user_series_index_path(current_user) %></li>
		    <li><%= link_to t('.my_bookmarks', :default => "My Bookmarks"), user_bookmarks_path(current_user) %></li>
		    <li><%= link_to t('.my_collections', :default => "My Collections and Challenges"), user_collections_path(current_user) %></li>
		    <li><%= link_to t('.my_inbox', :default => "My Inbox"), user_inbox_path(current_user) %></li>
		    <% if current_user.preference.history_enabled? %>
		      <li><%= link_to t('.my_history', :default =>"My History"), user_readings_path(current_user) %></li>
		    <% end %>
		    <li><%= link_to t('.my_subscriptions', :default =>"My Subscriptions"), user_subscriptions_path(current_user) %></li>
		    <li><%= link_to t('.set_preferences', :default => "Set My Preferences"), user_preferences_path(current_user) %>
	    </ul>

	  <h3 class="heading">Change your account settings</h3>
	    <ul>
      <li><%= link_to t('.edit_user_profile', :default =>"Edit My Profile"), edit_user_path(current_user) %></li>
      <li><%= link_to t('.my_profile', :default => "My Profile"), user_profile_path(current_user) %></li>
      <li><%= link_to t('.manage_pseuds', :default => "Manage My Pseuds"), user_pseuds_path(current_user) %></li>
      <li><%= link_to ts("Delete My Account"), user_path(current_user), data: {confirm: ts('This will permanently delete your account and cannot be undone. Are you sure?')}, :method => :delete %></li>
	  </ul>
  <% end %>

  <h3 class="heading">Contact Us</h3>
	  <ul>
		  <li><%= link_to t('.support_and_feedback', :default => "Technical Support & Feedback"), new_feedback_report_path %></li>
		  <li><%= link_to t('.report_abuse', :default => "Policy Questions & Abuse Reports"), new_abuse_report_path %></li>
      <li><%= link_to t('.donate', :default => "Donations"), donate_path %></li>
	  </ul>
</div>
