<th scope="row"><%= user.login.html_safe %></th>
<td title="<%= ts("Email") %>"><%= user.email.html_safe %></td>
<td><%= ts("Tag Wrangler") if user.tag_wrangler %></td>
<td><%= ts("Archivist") if user.archivist %></td>
<td><%= ts("Suspended") if user.suspended %></td>
<td><%= ts("Banned") if user.banned %></td>
<td><%= link_to ts("Edit"), { url: edit_admin_user_path(user), method: :get }, remote: true, href: edit_admin_user_path(user) %>
<td><%= ts("Delete") %></td>
