<% content_for :message do %>
  <p><%= t("mailer.general.greeting.informal.addressed", name: style_bold(@admin.login)).html_safe %></p>
  <p><%= t(".created") %></p>
  <p><%= style_work_metadata_label(t(".username")) %><%= @admin.login %></p>
  <p><%= style_work_metadata_label(t(".url")) %><%= style_link(new_admin_session_url, new_admin_session_url) %></p>
  <p><%= t(".finish_html", set_password_link: style_link(t(".set_password"), edit_admin_password_url(reset_password_token: @token))) %></p>
  <p><%= t(".expiration_html", count: ArchiveConfig.DAYS_UNTIL_ADMIN_RESET_PASSWORD_LINK_EXPIRES, request_reset_link: style_link(t(".request_reset"), new_admin_password_url)) %></p>
<% end %>
