<% content_for :message do %>
  <p><%= t("mailer.general.greeting.formal", name: style_bold(@resource.login)).html_safe %></p>
  <p><%= t(".intro") %></p>
  <p><%= style_link t(".link_title_html"), edit_admin_password_url(reset_password_token: @token) %></p>
  <p><%= t(".expiration", count: ArchiveConfig.DAYS_UNTIL_ADMIN_RESET_PASSWORD_LINK_EXPIRES) %></p>
  <p><%= t(".unrequested") %></p>
<% end %>
