<h3 class="landmark"><%= ts("Filters") %></h3>
<%= form_tag admin_posts_path, :method => :get do %>
  <p><%= label_tag :tag, ts("Tag:") %>
  <%= select_tag :tag, ('<option></option>' + options_from_collection_for_select(@tags, :id, :name, params[:tag])).html_safe %>
  <%= label_tag :language_id, ts("Language:") %>
  <%= select_tag :language_id, options_from_collection_for_select(@news_languages, :short, :name, params[:language_id] || Language.default.short) %>
  <%= submit_tag ts('Go') %></p>
<% end %>
