<h2 class="heading"><%= ts("Tag Search") %></h2>

<%= render 'shared/search_nav' %>

<%= render :partial => 'tags/search_form' %>

<% if @tags %>
  <h3 class="heading"><%= search_results_found(@tags) %> <%= link_to_help "tag-search-results-help" %></h3>
  <h4 class="landmark heading">Listing Tags</h4>
  <ol class="tag index group">
    <% for tag in @tags %>
      <% unless tag.nil? %>
        <li><%= tag_search_result(tag) %></li>
      <% end %>
    <% end %>
  </ol>
  <%= will_paginate @tags %>
<% end %>
