<!--Descriptive page name, messages and instructions-->
<% works = pseud.works.to_a %>
<h2 class="heading"><%= ts("Orphan All Works by %{name}", name: pseud.name) %></h2>

<p class="caution">
  <%= ts("Orphaning all works by %{name} will", name: pseud.name)%>
  <strong><%= ts("permanently")%></strong>
  <%= ts("remove the pseud %{name} from the following work(s), their chapters, associated series, and any feedback replies you may have left on them.", name: pseud.name) %>
</p>

<p class="caution">
  <%= ts("Unless another one of your pseuds is listed as a creator on the work(s) below, orphaning them will remove them from your account and re-attach them to the specially created orphan_account. Please note that this is")%>
  <strong><%= ts("permanent and irreversible.")%></strong>
  <%= ts("You are giving up control over the work(s),")%>
  <strong><%= ts("including the ability to edit or delete them.")%></strong>
</p>

<%= render "works/work_abbreviated_list", works: works %>

<p class="caution">
  <%= ts("Are you")%>
  <strong><%= ts("really")%></strong>
  <%= ts("sure you want to do this?")%>
</p>

<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<%= form_tag orphans_path do %>
  <p>
    <% works.each do |work| %>
      <%= hidden_field_tag "work_ids[]", work.id, id: "work_ids_#{work.id}" %>
    <% end %>
    <%= hidden_field_tag :pseud_id, pseud.id %>
  </p>

  <%= render "orphans/choose_pseud" %>
  <p class="submit actions"><%= submit_tag ts("Yes, I'm sure") %></p>
<% end %>
<!--/content-->
