<div class="admin">
<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= ts('Manage Rejected Skins') %></h2>
<!--/descriptions-->

<!--subnav-->
<%= render :partial => 'admin/skins/navigation' %>
<!--/subnav-->

<!--main content-->
<%= form_tag update_admin_skin_path, {:method => :put} do %>
  <!-- review of rejected skins -->
  <fieldset>
    <legend><%= ts('Rejected Skins') %></legend>
    <h3 class="heading"><%= ts('Rejected Skins') %></h3>
    <table id="rejected_skins" summary="<%= ts('Details of rejected skins, along with administrative notes and the option to unreject the skin.') %>">
      <caption><%= ts('Rejected Skins') %></caption>
      <thead>
        <tr>
        <th scope="col"><%= ts('Skin') %></th>
        <th scope="col"><%= ts('Type') %></th>
        <th scope="col"><%= ts('Creator') %></th>
        <th scope="col"><%= ts('Admin Note') %></th>
        <th scope="col"><%= ts('Unreject') %></th>
      </tr>
    </thead>
    <tbody>
      <% @rejected_skins.each_with_index do |skin, i| %>
        <% disabled = !policy(skin).update? %>
        <tr>
          <th scope="row"><%= link_to skin.title, skin_path(skin) %></td>
          <td><%= skin.type == 'WorkSkin' ? 'Work Skin' : 'Site Skin' %></td>
          <td><%= skin_author_link(skin) %></td>
          <td><%=h skin.admin_note %></td>
          <% skin_name = skin.title.downcase.gsub(/ +/, '_') %>
          <td><%= check_box_tag "make_unrejected[]", skin.id, false, id: "make_unrejected_#{skin_name}", disabled: disabled %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </fieldset>

  <p class="submit"><%= submit_tag ts('Update') %></p>

<% end %>

<!--/content-->

<!--subnav-->
<!--/subnav-->
</div>
