<!--Descriptive page name, messages and instructions-->
<h2 class="heading"><%= link_to ts("Archive FAQ"), archive_faqs_path %> > <%= @archive_faq.title %></h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<% if @archive_faq.slug == "search-and-browse" %>
  <p class="notice">
    <%= ts("Our search engine has recently been updated, and this FAQ is based on our old version. We're working on bringing you more up-to-date information, but in the meantime, you can find out more in our %{elasticsearch_post}!", elasticsearch_post: link_to(ts("news post announcing the search and filter updates"), admin_post_path(10575))).html_safe %>
  </p>
<% end %>

<div class="admin" role="article">
  <% if logged_in_as_admin? %>
    <div class="header">
      <h3 class="heading">
        Updated: <%=h @archive_faq.updated_at %> | <%= link_to 'Edit', edit_archive_faq_path(@archive_faq) %>
      </h3>
    </div>
  <% end %>

  <% if @archive_faq.questions.blank?  %>
    <p class="notice"><%= ts("We're sorry, there are currently no entries in this category.") %></p>
  <% else %>
    <div <% if rtl? %>dir="rtl"<% end %> class="userstuff">
      <div id="toc" class="toc" role="navigation">
        <h3 class="heading">
          <% #TODO: Change this back to 'Questions in the NAME Category' once Translation system in place %>
          <%= ts("#{@archive_faq.title}") %>
        </h3>
        <ul role="navigation">
          <% for q in @questions %>
            <li><%= link_to q.question, archive_faq_path(@archive_faq, :anchor => q.anchor) %></li>
          <% end %>
        </ul>
      </div>

      <div id="faq">
        <% for q in @questions %>
          <h3 id="<%= q.anchor %>">
            <%= q.question %>
          </h3>
          <% unless q.screencast.to_s == "" %>
            <p class="screencast">
              <span class="label"><%= ts("Screencast") %>:</span> <%= link_to q.question, q.screencast.to_s %>
            </p>
          <% end %>
          <%= raw sanitize_field(q, :content) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<!--/content-->