<h3 class="heading"><%= ts('Approve Link') %></h3>

<p>
  <%= ts('Would you like to create a link from your work') %>
  <%= link_to(related_work.parent.title.html_safe, related_work.parent) %>
  <%= ts("to") %>
  <%= link_to(related_work.work.title.html_safe, related_work.work) %>
  <%= ts("by") %>
  <%= byline(related_work.work) %>?
</p>

<p><%= ts('Nothing will be linked directly from your works without your express approval.') %> <%= ts('You can come back to this page if you change your mind.') %></p>

<%= form_for(related_work) do |f| %>
  <p class="submit actions">
    <%= f.submit ts("Yes, link me!") %>
  </p>
<% end %>
