<li id="series_<%= series.id %>" class="<% if is_author_of?(series) %>own <% end %>series <%= css_classes_for_creation_blurb(series) %>" role="article">
  <%= render 'series/series_module', :series => series %>
  <% if is_author_of?(series) %>
    <h6 class="landmark heading"><%= ts("Author Actions") %></h6>
    <p class="actions" role="navigation"><%= link_to ts('Edit'), edit_series_path(series) %></p>
  <% end %>
</li>
