<h2 class="heading"><%=h t(".heading") %></h2>

<p>
  <%= t(".notice") %>
</p>

<% if @pseud.bookmarks %>
  <%= form_tag({:action => "destroy"}, :method => :delete) do %>
    <p> <%= t(".saved_bookmarks", count: @pseud.bookmarks.count) %>
    </p>

    <p>
    <%= radio_button_tag 'bookmarks_action', "delete_bookmarks", true %>
    <%= label_tag 'bookmarks_action_delete_bookmarks', t(".delete", count: @pseud.bookmarks.count) %>
    </p>

    <p>
    <%= radio_button_tag 'bookmarks_action', "transfer_bookmarks" %>
    <%= label_tag 'bookmarks_action_transfer_bookmarks', t(".transfer", count: @pseud.bookmarks.count) %>
    </p>

    <p class="submit cancel actions">
		  <%= submit_tag ts("Submit"), data: {confirm: t(".confirm")} %> <%= submit_tag t(".cancel"), :name => 'cancel_button', :class => 'cancel' %>
    </p>
  <% end %>
<% end %>
