<% content_for :message do %>
  <p><%= t("mailer.general.greeting.formal", name: style_bold(@resource.login)).html_safe %></p>
  <p><%= t(".intro") %></p>
  <p><%= style_link t(".link_title"), edit_user_password_url(reset_password_token: @token).html_safe %></p>
  <p><%= t(".expiration") %></p>
  <p><%= t(".unrequested") %></p>
<% end %>
